*{padding:0;margin: 0;}
.com-mess{height: 80px;width: 350px;}
.com-name{height: 20px;width: 350px;}
.image{float: left;}
.content{float: left;margin-left: 3px;}
.list{clear: left;padding-top: 15px;list-style:none;}
.list-small{padding-top: 10px;list-style:none;}
.rep-mess{height: 50px;width: 290px;}
.rep-name{height: 18px;width: 290px;}
.hide{display: none;}